header {
    position: relative;
    .topHead {
        background: $topHead;
        color: $white;
        font-size: 0.75rem;
        height: 2.188rem;
        line-height: 2.188rem;

        .marequeeParent {
            overflow: hidden;
            height: 2.188rem;

            &.hideShow {
                display: none;
            }
        }

        .marqueeSec {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 0 4.688rem;
            -moz-animation: scroll-left 2s linear infinite;
            -webkit-animation: scroll-left 2s linear infinite;
            animation: scroll-left 5s linear infinite;

            &:hover {
                animation-play-state: paused;
            }

            .marketUp {
                color: $marketUp;

                .material-icons {
                    font-size: 0.875rem;
                    font-weight: 700;
                    vertical-align: sub;
                }
            }
            .marketDown {
                color: $marketDown;
                
                .material-icons {
                    font-size: 0.875rem;
                    font-weight: 700;
                    vertical-align: sub;
                }
            }
        }

        .topHeadOtherSec {
            background: $topHead;
            color: $white;

            #accordion1 {
                
                .card {
                    border: none;
                    border-radius: unset;
                    z-index: 2001;

                    .card-header {
                        border-radius: unset;
                        padding: 0;
                        margin-bottom: 0;
                        background: transparent;
                        border-bottom: none;

                        .btn {
                            display: flex;
                            width: 100%;
                            background: $topHead;
                            margin: auto;
                            padding: 0;

                            .marketDetailsIcon {
                                cursor: pointer;
                                position: absolute;
                                background: $topHead;
                                color: $white;
                                font-size: 1.25rem;
                                border-radius: 50%;
                                top: -10px;
                                left: 50%;
                                transform: translateX(-50%);
                                transition: top 0.4s ease-out;
                            }

                            .material-icons.close {
                                display: none;
                            }
                            
                            &:focus,
                            &.focus {
                                box-shadow: none;
                            }

                            &[aria-expanded = "true"] {
                                .marketDetailsIcon {
                                    top: 97%;

                                    &.more {
                                        display: none;
                                    }

                                    &.close {
                                        display: block;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    .card-body {
                        background: $topHead;
                        padding: 0.938rem 4.688rem 0;
                        max-height: 300px;
                        overflow-y: scroll;

                        h4 {
                            font-size: 1.375rem;
                            font-weight: 300;
                            margin-bottom: 0.938rem;
                        }

                        .marketDetails {
                            display: flex;
                            align-items: center;
                            width: 50%;
                            border-top: 1px solid #313a41;
                            padding: 0.625rem 0;

                            .name {
                                width: 50%;
                                text-transform: uppercase;
                                font-size: 0.938rem;
                            }

                            .range {
                                width: 30%;
                                text-align: right;
                                margin-right: 0.938rem;
                                font-size: 0.688rem;
                            }

                            .percentage {
                                width: 20%;
                                display: flex;
                                text-align: center;
                                flex-flow: column;
                                background: #283c42;
                                color: $marketUp;
                                border: 1px solid #1d6f5c;
                                border-radius: 0.313rem;
                                padding: 0.313rem;

                                span {
                                    line-height: initial;

                                    &:first-child {
                                        font-size: 0.688rem;
                                    }

                                    &:last-child {
                                        font-size: 0.938rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .bottomHead {
        height: 4rem;
        background: $bottomHead;
        color: $white;
        font-size: 1rem;
        display: flex;
        padding: 0 0.938rem;
        gap: 1.875rem;

        .logo {
            flex: 1;
            display: flex;
            align-items: center;

            img {
                width: 200px;
            }
        }

        .myNavbar {
            flex: 3;
            display: flex;
            align-self: center;
            
            .navbar {
                padding: 0;

                #main_nav {
                    .navbar-nav {
                        gap: 2rem;
                        align-items: center;
                        height: 61px;

                        .nav-item {
                            &:hover {
                                .nav-link {
                                    color: $lightBlue;

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        background: $lightBlue;
                                        height: 3px;
                                        width: 100%;
                                    }

                                    &:last-child::before {
                                        display: none;
                                    }
                                }
                            }

                            .nav-link {
                                color: $white;
                                display: flex;
                                align-items: center;
                                padding: 0 0.5rem;
                                position: relative;

                                &::after{
                                    display: none;
                                }

                                .offer {
                                    display: flex;
                                    flex-flow: column;
                                    align-items: center;

                                    span {
                                        font-size: 0.625rem;
                                        color: #d6c177;

                                        &.discount {
                                            font-size: 1rem;
                                        }
                                    }
                                }
                            }

                            &.dropdown {
                                position: static;
                                height: 100%;
                                display: inline-flex;

                                .megamenu {
                                    // margin-top: 0.313rem;
                                    border-radius: 0 0 0.25rem 0.25rem;
                                    background: $bottomHead;
                                    color: $white;
                                    width: 700px;
                                    padding: 1.875rem 1.25rem;

                                    .ddParent {
                                        font-size: 0.875rem;
                                        border-bottom: 1px dashed $scrollTrack;
                                        color: $white;
                                        padding: 0.625rem 0;
                                        cursor: pointer;

                                        &:last-child {
                                            border-bottom: none;
                                        }

                                        div {
                                            &:first-child {
                                                font-weight: 600;
                                                text-transform: capitalize;
                                            }

                                            &:last-child {
                                                color: $lightGray;
                                            }
                                        }
                                    }
                                }
                            }

                            &:hover {
                                .megamenu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        .loginSection {
            flex: 2;
            display: flex;
            align-items: center;
            gap: 1.875rem;

            .input-group {
                .input-group-prepend {
                    .input-group-text {
                        background: #5b616f;
                        color: ghostwhite;
                        border: 1px solid #5b616f;
                        padding: 0.375rem 0.5rem 0;
                    }
                }
                .form-control {
                    border: 1px solid #5b616f;
                    padding: 0.375rem 0;
                    font-size: 0.938rem;
                    background: #5b616f;
                    color: ghostwhite;

                    &::placeholder {
                        color: ghostwhite;
                    }

                    &:focus,
                    &.foucs {
                        box-shadow: none;
                    }
                }
            }

            .notifications {
                .dropdown {
                    .dropdown-toggle {
                        color: $white;
                        padding: 0;
                        box-shadow: none;
    
                        &::after {
                            display: none;
                        }

                        .notificationIcon {
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                top: 0.125rem;
                                left: 0.75rem;
                                width: 0.5rem;
                                height: 0.5rem;
                                border-radius: 50%;
                                background: $marketDown;
                            }
                        }
                    }

                    .dropdown-menu {
                        width: 300px;
                        height: 300px;
                        overflow-y: scroll;
                        border: none;
                        top: 46px !important;
                        right: 0 !important;
                        left: inherit !important;
                        background: $topHead;
                        transform: none !important;
                        border-radius: 0 0 0.25rem 0.25rem;
                    }
                }

                .notificationAlerts {
                    padding: 0.625rem 1.25rem;
                    cursor: pointer;

                    .notificationAlertsInfo {
                        display: flex;

                        h3 {
                            flex-basis: 80%;
                            word-break: break-word;
                            color: $white;
                            font-size: 0.813rem;
                            font-weight: 600;
                        }

                        .agoTime {
                            color: #8b8d8f;
                            font-size: 0.688rem;
                            font-weight: 600;
                            display: flex;
                            justify-content: flex-end;
                            flex-basis: 25%;
                        }
                    }

                    .notificationMsg {
                        color: #cacaca;
                        font-size: 0.813rem;
                    }

                    &.dropdown-item {
                        white-space: unset;

                        &:hover,
                        &:active,
                        &.active {
                            background: transparent;
                        }

                        &:nth-child(even) {
                            background: $bottomHead;
                        }
                    }

                    .readMore {
                        color: #01aad0;
                        font-size: 0.813rem;
                        font-weight: 600;
                        padding: 0;
                    }
                }
            }

            .user {
                .dropdown {
                    .dropdown-toggle {
                        color: $white;
                        padding: 0;
                        box-shadow: none;

                        &::after {
                            display: none;
                        }

                        .userPic {
                            height: 100%;
                            width: 100%;
                            border-radius: 50%;
                            padding: 0.313rem;
                            background: $topHead;
                        }
                    }

                    .dropdown-menu {
                        width: 200px;
                        border: none;
                        top: 46px !important;
                        right: 0 !important;
                        left: inherit !important;
                        background: $topHead;
                        transform: none !important;
                        border-radius: 0 0 0.25rem 0.25rem;

                        .dropdown-item {
                            font-size: 0.75rem;
                            color: $white;
                            cursor: pointer;
                            padding: 0.313rem 1.125rem;
                            margin-bottom: 0.313rem;

                            &:hover,
                            &:active,
                            &.active {
                                background: transparent;
                            }

                            .lastFewHours {
                                font-size: 0.75rem;
                                color: $white;
                                text-transform: uppercase;
                                width: 100%;
                                padding: 0.313rem 0;
                                background: $lightBlue;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    40%, 70% {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    100% {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}