$marketUp: #009245;
$marketDown: #ff0000; 
$topHead: #101115;
$bottomHead: #2c303c;
$sky: #1BB7DF;
$lightBlue: #00ABCF;
$darkGray: #434343;
$lightGray: #646464;
$black: #000000;
$lightBlack: #1B2143;
$white: #FFFFFF;
$gainsBoro: #E3E3E3;
$darkBlue: #0964A6;
$lightSky: #c3edf7;
$scrollThumb: #708090;
$scrollTrack: #d2d5d7;
$footerBG: #323742;
$footerForeground: #A2A2A4;